.container{width: 1000px;

}
.row{
    display: flex;
}
.div{
    
  border: 1px solid gray;
}

.col-2>h5>a{    
    text-decoration: none;
    color: black;
}
.sign{
    margin-top: 25px;
    border-radius: 5px;
    background-color: white;
}
.details{
    margin-left: 5%;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: yellow;
}
.col-3>p >a{
    text-decoration: none;
    color: cadetblue;
}
.col-2{
    display: flex;
}
