
.col-6{
    margin:auto;
    display: flex;
   
}
.col-12{
    margin: auto;
    text-align: center;
}
.row{
    display: flex;
}
.bt1{
    width: 200px;
    height: 40px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.bt2{
    width: 200px;
    height: 40px;
    background-color: grey;
    color: white;
    border-radius: 5px;
}
.div3{
    border: rgb(201, 194, 194) 1px solid;
    margin: 5px 30px;
    border-radius: 5px;

}
.div3>p{
    text-align: left;
    margin-left: 15px;
}
.thum{
    width: 100%;
    height: 250px;
    background-color: grey;
    color: white;
    border: rgb(201, 194, 194) 1px solid;
}
.VE{
    margin: 0 15px 5px 15px;
    display: flex;
}
.v{
    width: 50px;
    height: 30px;
    border-radius: 3px 0 0 3px;
}
.v:hover{
    background-color: grey;
    color: white;
}
.e{
    width: 50px;
    height: 30px;
    border-radius: 0px 5px 5px 0px;
}
.e:hover{
    background-color: grey;
    color: white;
}
.min{
    float: right;
    color: teal;
   margin-left: 200px;
}