body{
    margin:0;
    padding:0;
    background-size:cover;
    color:white;
    background-image:url("/image/bg-image2.jpg");
}
.header{
    padding: 0;
    height: 100px;
    background:none;
    margin-top: 0;   
}
.footer{
    background:none;
}
ul {
    list-style: none;
}
li{
    display: block;
}
.col-3 ul li a {
    text-decoration: none;
}
a:hover{
   
    color: white;
}

.sidebar{
    background:none;
    width: 100%;
    height: 100%;
    margin-left:0px;
}
.sidebar header{
    color: white;
    text-align: center;
    font-size: 20px;
 
}
.sidebar ul a{
    color: white;
    display: block;
    text-decoration: none;
    height: 100%;
    line-height: 50px;
    font-size: 15px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: 0.5s;
}
.sidebar ul li a:hover{
    padding-left: 25px;
    color: blue;
}

.card{
    background: none;
    color:white;
}

.loginbox{
    position:absolute:
}
.loginbox h1{
    font-size:40px;
    border-bottom:3px solid #66ff66;
    padding:10px 0;
    margin-bottom:50px;
    color:white;
}
.form-group{
    color:white;
    border-bottom:1px solid #66ff66;
    margin:10px 0;
    padding:10px 0;
    font-size:20px;
}
.form-group input{
    background:none;
    border:none;
    outline:none;
    color:white;
    font-size:20px;
}
.btn{
    width: 100%;
    background:none;
    font-size:20px;
    color:white;
    margin:15px 0;
    padding:12px 0;
    text-align:center;
    border:1px solid #66ff66;
    cursor: pointer;
}
.btn:hover{
     background:none;   
}


